{%- extends "base.html" %}
<body>
  {% block content %}
  <div class="row justify-content-between align-items-right">
    <div class="col-lg-auto"></div>
    <div class="col-lg-auto"></div>
    <div class="col-lg-auto"></div>
   </div>
  
  <script>
    function autoType()
    {
      document.getElementById("search-box").focus();
    }
    window.onload = autoType;
  
  </script>
  <div class="container">
    <form action="/incidents">
              <input id="search-box" name="search" class="search-container" type="text" placeholder="Search..">
          </form>
    <table class="table table-box">
      <thead>
        <tr>
          <!-- <td>👾 <a href="/host-69" style="text-decoration:none"> host-69</a></td> -->
          <th scope="col"><a href="/incidents?filter=hosts">Host</a></th>
          <th scope="col"><a href="/incidents?filter=users">User</a></th>
          <th scope="col"><a href="/incidents?filter=processes">Process</a></th>
          <th scope="col"><a href="/incidents?filter=ips">IP</a></th>
          <th scope="col"><a href="/incidents?filter=cmds">CMD</a></th>
        </tr>
      </thead>
      <tbody>
        {% for alert in incidents %}
        <tr>
         <td>{{ alert.Incident.Host }}</td>
         <td>{{ alert.Incident.User }}</td>
         <td>{{ alert.Incident.Process }}</td>
         <td>{{ alert.Incident.RemoteIP }}</td>
         <td>{{ alert.Incident.Cmd }}</td>
        </tr>
        {% endfor %}
   </tr>
      </tbody>
    </table>
  </div>
  {% endblock %}
</body>
