{%- extends "base.html" %}
<body>
   {% block content %}
   <div class="row justify-content-between align-items-right">
      <div class="col-lg-auto"></div>
      <div class="col-lg-auto"></div>
      <div class="col-lg-auto">
         <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Last updated: <strong>{{ lastupdate }}</strong>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="col-lg-12">
         <div class="page-header">
            <form method="post" class="stuff-container">
               <h1 class="header-font-xxl" >Box Overview</h1>
               <input id="rescan" type="submit" value="Rescan Machines" class="btn btn-index" name="rescan">
            </form>
         </div>
      </div>
   </div>
   <div class="container">
      <table class="no-scroll table table-box">
      <thead>
         <tr>
            <th class="column-hotpink" scope="col">Host Name</th>
            <th class="column-hotpink" scope="col">IP</th>
            <th class="column-hotpink" scope="col">Services</th>
            <th class="column-hotpink" scope="col">OS</th>
            <th class="column-hotpink" scope="col">Is Changed</th>
            <th class="column-hotpink" scope="col">Is Connected</th>
            <th class="column-hotpink" scope="col">Pop-A-Shell</th>
            <th class="column-hotpink" scope="col">Delete Box</th>

         </tr>
      </thead>
      <tbody>
         {% for box in boxes %}
            {% if box.hostname %}
               <td>{{ emoji }} <a href="/{{ box.name }}" style="text-decoration:none"> {{ box.hostname }}</a></td>
            {% else %}
               <td>{{ emoji }} <a href="/{{ box.name }}" style="text-decoration:none"> {{ box.name }}</a></td>
            {% endif %}
            <td>{{ box.ip }}</td>
            <td style="padding-left:55px">{{ box.services|length }}</td>
            <td>{{ box.OS }}</td>
            {% if box["isChanged"] %}
               <td><span class="badge rounded-pill bg-success">True</span></td>
            {% else %}
               <td><span class="badge rounded-pill bg-danger">False</span></td>
            {% endif %}
            {% if box.get('timeConnected') %}
               {% if (timestamp.split(':')[1])|int - (box.get('timeConnected').split(':')[1])|int < 3 and (timestamp.split(':')[0]) == (box.get('timeConnected').split(':')[0]) %}
                  <td><span class="badge rounded-pill bg-success">True</span></td>
               {% else %}
                  <td><span class="badge rounded-pill bg-danger">False</span></td>
               {% endif %}
            {% else %}
               <td><span class="badge rounded-pill bg-danger">False</span></td>
            {% endif %}
            <td> <a href="/open-shell/{{ box.ip }}" target="_blank">Open in Bash</a></td> 
            <td style="text-align: center; vertical-align: middle; padding-right: 50px;">               
               <button type="button" onClick="deleteHost('{{ box.name }}')">
                  <span aria-hidden="true">&times;</span>
               </button>
            </td>
   </tr>
   {% endfor %}
   </tbody>
   </table>
   <form method="post" class="button-container">
      <input id="csv" type="submit" value="Download CSV" class="btn btn-secondary" name="download_host_info">
      <input id="csv" type="submit" value="Upload CSV" class="btn btn-secondary" name="upload_host_info">

   </form>
   </div>
   {% endblock %}
</body> 