{% extends "base.html" %} {% block content %}
<form method="POST">
    <div class="form__field" style="text-align:center; padding-top: 200px; size: 50px;" >
      <label for="login__email">
        <img class="icon" href="/" src="/static/user.png"></img>
        <span class="hidden">Username</span>
      </label>
      <input id="email" type="text" name="email" class="form__input" placeholder="Enter Email" style="width: 400px" required/>
  </div>
  <div class="form__field" style="text-align:center">
    <label for="login__password">
      <img class="icon" href="/" src="/static/lock.png"></img>
      <span class="hidden">Username</span>
    </label>
    <input id="password" type="password" name="password" class="form__input" placeholder="Enter Password" style="width: 400px" required/>
  </div>
  <br />
  <button type="submit" class="btn btn-primary" style="  margin: -20px -50px; position:relative;top:50%;left:50%;">SIGN IN</button>
</form>
{% endblock %}

