{%- extends "base.html" %}
<body>
   {% block content %}
   <div class="container">
      <div class="col-lg-12">
         <div class="page-header">
            <h1>Manage:</h1>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="jumbotron" style = background-color:transparent;>
         <ul class="nav nav-tabs">
            <li class="nav-item active">
               <a class="nav-link active" data-toggle="tab" href="#quickstats">Quick Stats</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" data-toggle="tab" href="#portdetail">Port Detail</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" data-toggle="tab" href="#rawoutput">Raw Output</a>
            </li>
         </ul>
         <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="quickstats">
               <br>
               <p>Host name: {{ box.name}}</p>
               <p>Box IP: {{ box.ip }}</p>
               <p>Operating System: {{ box.os }}</p>
               {% if box.isOn == 1 %}
               <p>Service Status: Up</p>
               {% else %}
               <p>Service Status: Down</p>
               {% endif %}
               <br>
            </div>
            <div class="tab-pane" id="portdetail">
               <div class="row">
                  <div class="col-lg-6">
                     <br>
                     <p>Total ports on box: {{ box.total }}</p>
                     <p>Ports in UP state: {{ box.up }}</p>
                     <p>Ports in DOWN state: {{ box.down }}</p>
                     <p>Ports in DISABLED state: {{ box.disabled }}</p>
                  </div>
                  <div class="col-lg-6">
                     <br>
                     {% if box.int10m %}
                     <p>Total Ports operating at 10M: {{ box.int10m }}</p>
                     {% endif %}
                     {% if box.int100m %}
                     <p>Total Ports operating at 100M: {{ box.int100m }}</p>
                     {% endif %}
                     {% if box.int1g %}
                     <p>Total Ports operating at 1G: {{ box.int1g }}</p>
                     {% endif %}
                     {% if box.int10g %}
                     <p>Total Ports operating at 10G: {{ box.int10g }}</p>
                     {% endif %}
                     {% if box.int25g %}
                     <p>Total Ports operating at 25G: {{ box.int25g }}</p>
                     {% endif %}
                     {% if box.int40g %}
                     <p>Total Ports operating at 40G: {{ box.int40g }}</p>
                     {% endif %}
                     {% if box.int100g %}
                     <p>Total Ports operating at 100G: {{ box.int100g }}</p>
                     {% endif %}
                     <p></p>
                     <p>Copper Ports: {{ box.copper }}</p>
                     <p>SFP-based Ports: {{ box.sfp }}</p>
                     <p>Virtual Ports: {{ box.virtual }}</p>
                  </div>
               </div>
               <div class="row">
                  <div class="form-inline">
                     <div class="page-header">
                        <h3>Detailed Port Information:</h3>
                     </div>
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th scope="col">Interface Name</th>
                              <th scope="col">Description</th>
                              <th scope="col">MAC Address</th>
                              <th scope="col">State</th>
                              <th scope="col">Speed</th>
                              <th scope="col">Duplex</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for interface in interfaces %}
                           <tr>
                              <td>{{ interface.name }}</td>
                              <td>{{ interface.description }}</td>
                              <td>{{ interface.physical_address }}</td>
                              <td>
                                 {% if interface.oper_status == 'up' %}
                                 <p class="text-success">Up</span>
                                 {% else %}
                                 <p class="text-danger">Down</span>
                                 {% endif %}
                              <td>{{ interface.oper_speed }}</td>
                              <td>{{ interface.oper_duplex }}</td>
                              </td>
                           {% endfor %}
                        </tbody>
                  </table>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="rawoutput">
               <code>
               <br>
               {% for line in raw_data %}
               {{ line }}<br>
               {% endfor %}
               </code>
            </div>
         </div>
      </div>
   </div>
   {% endblock %}
</body>