{% extends "base.html" %} 
<body>
   {% block content %}
   <div class="container">
      <div class="col-lg-12">
         <div class="page-header ">
            <h1 class= "header-font-xxl">Manage: {{ box.name }}</h1>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="jumbotron" style="background-color:transparent;">
         <ul class="nav nav-tabs">
            <li class="nav-item active">
               <a class="nav-link active" data-toggle="tab" href="#quickstats">Quick Stats</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" data-toggle="tab" href="#portdetail">Port Detail</a>
            </li>
            {% if users %}
               <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#windowsusers">Windows Users</a>
               </li>
            {% endif %}
         </ul>
         <div id="myTabContent" class="tab-content">
            <div class="tab-pane text-white active" id="quickstats">
               <br>
               <ul>
                  <li class="header-font-xl">Host name: &ensp; {{ box.name}} </li>
                  <br/>
                  <li class="header-font-xl">Box IP: &ensp; {{ box.ip }} </li>
                  <br/>
                  <li class="header-font-xl">Operating System: &ensp; {{ box.OS }} </li>
                  <br/>
                  <li class="header-font-xl">Total ports detected on box: &ensp; {{ ports }} </li>
                  <br/>
               </ul>
               <br>
            </div>
            <div class="tab-pane" id="portdetail">
               <!-- <div class="row text-white"> -->
                  <!-- <div class="col-lg-6">
                     <br>
                     <p>Total ports on box: {{ box.total }}</p>
                     <p>Ports in UP state: {{ box.up }}</p>
                     <p>Ports in DOWN state: {{ box.down }}</p>
                     <p>Ports in DISABLED state: {{ box.disabled }}</p>
                  </div> -->
               <!-- </div> -->
               <div class="container">
                  <div class="form-inline">
                     <div class="page-header">
                        <h2 class="header-font-xl">Detailed Port Information:</h2>
                     </div>
                     <table class="table table-box">
                        <thead>
                           <tr>
                              <!-- <th scope="col">Interface Name</th>
                              <th scope="col">Description</th>
                              <th scope="col">MAC Address</th>
                              <th scope="col">State</th>
                              <th scope="col">Speed</th>
                              <th scope="col">Duplex</th> -->
                              <th class= "column-hotpink" scope="col">Service Name</th>
                              <th class= "column-hotpink" scope="col">Port Number</th>
                              <th class= "column-hotpink" scope="col">Service Status</th>
                           </tr>
                        </thead>
                        <tbody>
                           <!-- {% for interface in interfaces %}
                           <tr>
                              <td>{{ interface.name }}</td>
                              <td>{{ interface.description }}</td>
                              <td>{{ interface.physical_address }}</td>
                              <td>
                                 {% if interface.oper_status == 'up' %}
                                 <p class="text-success">Up</span>
                                 {% else %}
                                 <p class="text-danger">Down</span>
                                 {% endif %}
                              <td>{{ interface.oper_speed }}</td>
                              <td>{{ interface.oper_duplex }}</td>
                              </td>
                           {% endfor %} -->
                           {% for item in box["services"]%}
                              <tr>
                                 <td> {{ item["service"] }} </td>
                                 <td> {{ item["port"] }} </td>
                                 <td><span class="badge rounded-pill bg-success">Up</span></td>
                              </tr>
                           {% endfor %}
                        </tbody>
                  </table>
                  </div>
               </div>
            </div>
            {% if users %}
               <div class="tab-pane" id="windowsusers">
                  <div class="container">
                     <div class="form-inline">
                        <div class="page-header">
                           <h2 class="header-font-xl">Users Enumerated: {{ users }}</h2>
                        </div>
                        <table class="table table-box">
                           <thead>
                              <tr>
                                 <th class= "column-hotpink" scope="col">Username</th>
                                 <th class= "column-hotpink" scope="col">Full name</th>
                                 <th class= "column-hotpink" scope="col">Enabled</th>
                                 <!-- <th class= "column-hotpink" scope="col">Locked</th> -->
                                 <th class= "column-hotpink" scope="col">Admin</th>
                                 <!-- <th class= "column-hotpink" scope="col">Pass no expire</th> -->
                                 <th class= "column-hotpink" scope="col">Passwd Age</th>
                                 <th class= "column-hotpink" scope="col">Last Logon</th>
                                 <th class= "column-hotpink" scope="col">Bad Passwd Attempts</th>
                                 <th class= "column-hotpink" scope="col">Num Logons</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for user in user_properties["users"] %}
                                 <tr>
                                    <td> {{ user["Username"] }} </td>
                                    <td> {{ user["Fullname"] }} </td>
                                    {% if user["Enabled"] == "True" %}
                                       <td><span class="badge rounded-pill bg-success">True</span></td>
                                    {% else %}
                                       <td><span class="badge rounded-pill bg-danger">False</span></td>
                                    {% endif %}
                                    {% if user["Admin"] == "True" %}
                                       <td><span class="badge rounded-pill bg-success">True</span></td>
                                    {% else %}
                                       <td><span class="badge rounded-pill bg-danger">False</span></td>
                                    {% endif %}
                                    <td> {{ user["Passwdage"] }} </td>
                                    <td> {{ user["LastLogon"] }} </td>
                                    <td> {{ user["BadPasswdAttempts"] }} </td>
                                    <td> {{ user["NumofLogons"] }} </td>
                                    <!-- <td><span class="badge rounded-pill bg-danger">True</span></td> -->
                                 </tr>
                              {% endfor %}
                           </tbody>
                     </table>
                     </div>
                  </div>
               </div>
            {% endif %}
         </div>
      </div>
   </div>
   {% endblock %}
</body>