{% extends "base.html" %} 
<body>
   {% block content %}
   <div class="container">
      <div class="col-lg-12">
         <div class="page-header ">
            <h1 class= "header-font-xxl">Manage: {{ box.name }}</h1>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="jumbotron" style="background-color:transparent;">
            {% if "windows" in box.OS.lower() %}
               <ul class="nav nav-tabs">
                  <li class="nav-item active">
                     <a class="nav-link active" data-toggle="tab" href="#quickstats">Quick Stats</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" data-toggle="tab" href="#portdetail">Port Detail</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" data-toggle="tab" href="#serviceinfo">Service Info</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" data-toggle="tab" href="#users">User Info</a>
                  </li>
               </ul>
            {% else %}
               <ul class="nav nav-tabs">
                  <li class="nav-item active">
                     <a class="nav-link active" data-toggle="tab" href="#quickstats">Quick Stats</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" data-toggle="tab" href="#portdetail">Port Detail</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" data-toggle="tab" href="#users">User Info</a>
                  </li>
               </ul>
            {% endif %}
         <div id="myTabContent" class="tab-content">
            <div class="tab-pane text-white active" id="quickstats">
               <br>
               <ul>
                  {% if box.hostname %}
                     <li class="header-font-xl">Host name: &ensp; {{ box.hostname }} </li>
                     <br/>
                  {% else %}
                     <li class="header-font-xl">Host name: &ensp; {{ box.name }} </li>
                     <br/>
                  {% endif %}
                  <li class="header-font-xl">Box IP: &ensp; {{ box.ip }} </li>
                  <br/>
                  <li class="header-font-xl">Operating System: &ensp; {{ box.OS }} </li>
                  <br/>
                  <li class="header-font-xl">Total services detected on box: &ensp; {{ box.services|length }} </li>
                  <br/>
               </ul>
               <br>
            </div>
            <div class="tab-pane" id="portdetail">
               <div class="container">
                  <div class="form-inline">
                     <div class="page-header">
                        <h2 class="header-font-xl">Detailed Port Information:</h2>
                     </div>
                     <table class="table table-box">
                        <thead>
                           <tr>
                              <th class= "column-hotpink" scope="col">Service Name</th>
                              <th class= "column-hotpink" scope="col">Port Number</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for item in box["services"]%}
                              <tr>
                                 {% if item["service"] %}
                                    <td> {{ item["service"] }} </td>
                                    <td> {{ item["port"] }} </td>
                                 {% endif %}
                              </tr>
                           {% endfor %}
                        </tbody>
                  </table>
                  <form method="post" class="button-container">
                     <input type="submit" value="Download CSV" class="btn btn-secondary" name="ports-download">
                     <input type="submit" value="Upload CSV" class="btn btn-secondary" name="ports-upload">
                  </form>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="serviceinfo">
               <div class="container">
                  <div class="form-inline">
                     <div class="page-header">
                        <h2 class="header-font-xl">Detailed Service Information:</h2>
                     </div>
                     <table class="table table-box">
                        <thead>
                           <tr>
                              <th class= "column-hotpink" style="width: 15%;" scope="col">Port</th>
                              <th class= "column-hotpink" style="width: 25%;" scope="col">Service Name</th>
                              <th class= "column-hotpink" style="width: 45%;" scope="col">Description</th>
                              <th class= "column-hotpink" style="width: 15%;" scope="col">PID</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for item in box["services"]%}
                              {% if item["AcceptStop"] and item["port"]%}
                                    <tr>
                                       <td> {{ item["port"] }} </td>
                                       <td> {{ item["SCname"] }} </td>
                                       <td> {{ item["DisplayName"] }} </td>
                                       <td> {{ item["RunningPID"] }} </td>
                                    </tr>
                              {% endif %}
                           {% endfor %}
                           {% for item in box["services"] %}
                              {% if item["AcceptStop"] and (item["port"]== 0) %}
                                 <tr>
                                    <td> n/a </td>
                                    <td> {{ item["SCname"] }} </td>
                                    <td> {{ item["DisplayName"] }} </td>
                                    <td> {{ item["RunningPID"] }} </td>
                                 </tr>
                              {% endif %}
                           {% endfor %}
                        </tbody>
                  </table>
                  <form method="post" class="button-container">
                     <input type="submit" value="Download CSV" class="btn btn-secondary" name="services-download">
                     <input type="submit" value="Upload CSV" class="btn btn-secondary" name="services-upload">
                  </form>
                  </div>
               </div>
            </div>
            <div class="tab-pane" id="users">
               <div class="container">
                  <div class="form-inline">
                     <div class="page-header">
                        <h2 class="header-font-xl">Enumerated Users:</h2>
                     </div>
                     <table class="table table-box">
                        <thead>
                           <tr>
                              <th class= "column-hotpink" scope="col">Username</th>
                              <th class= "column-hotpink" scope="col">Enabled</th>
                              <th class= "column-hotpink" scope="col">Admin/Root</th>
                              <th class= "column-hotpink" scope="col">Number of Logons</th>
                              <!-- <th class= "column-hotpink" scope="col">Password Age</th> -->
                              <th class= "column-hotpink" scope="col">Last Login</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for user in box["users"]%}
                              <tr>
                                 <td> {{ user["username"] }} </td>
                                 {% if user["enabled"] %}
                                    <td><span class="badge rounded-pill bg-success">True</span></td>
                                 {% else %}
                                    <td><span class="badge rounded-pill bg-danger">False</span></td>
                                 {% endif %}

                                 {% if user["admin"] %}
                                    <td><span class="badge rounded-pill bg-success">True</span></td>
                                 {% else %}
                                    <td><span class="badge rounded-pill bg-danger">False</span></td>
                                 {% endif %}

                                 <!-- <td> {{ user["passwordAge"] }} </td> -->
                                 {% if user["numLogons"] == 0 %}
                                    <td> Never Logged In </td>
                                    <!-- <td> {{ user["lastLogon"] }} </td> -->
                                    <td> Never Logged In </td>
                                 {% else  %}
                                    <!-- <td> {{ user["lastLogon"] }} </td> -->
                                    <td> {{ user["numLogons"] }} </td>
                                    <td> {{ user["lastLogon"].split("T")[-1].split("-")[0] }} </td>
                                 {% endif %}
                              </tr>
                           {% endfor %}
                        </tbody>
                  </table>
                  <form method="post" class="button-container">
                     <input type="submit" value="Download CSV" class="btn btn-secondary" name="users-download">
                     <input type="submit" value="Upload CSV" class="btn btn-secondary" name="users-upload">
                  </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endblock %}
</body>