<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img class="navbar-brand" href="/" src="static/logo.png"></img>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
      <div class="navbar-nav">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="network-wide" href="/network-wide">Network-Wide Stats</a>
          <a class="nav-item nav-link" id="key-management" href="/key-management">Key-Management</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          {% else %}
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          {% endif %}
        </div>
     </ul>
  </div>
</nav>